<div class="app">

  <main>
    <div class="result">
      <ng-container *ngIf="(result$ | async)!==null">
        {{(result$ | async).name}}
      </ng-container>
      <ng-container *ngIf="(result$ | async)===null">
        &nbsp;
      </ng-container>
    </div>
    <div>
      Click ↓ To Random Eat
    </div>
    <div class="random-btn">
      <button mat-button color="primary" size="large" (click)="randomFromLocal()">From Local</button>
    </div>
    <div class="random-btn">
      <button mat-button color="primary" size="large" (click)="randomFromNetwork()">From Network</button>
    </div>
    <div class="meta-info">
      Current Local Candidate: {{(restaurants$ | async).length}}
    </div>
    <button class="buttom-button" mat-button (click)="clear()">Clear Local</button>
  </main>
  <footer>
    <mat-form-field>
      <mat-label>Add a candidator</mat-label>
      <input matInput #name />
    </mat-form-field>
    <button [disabled]="name.value.length < 1" mat-button (click)="add(name.value); name.value=''">Add!</button>
  </footer>
</div>
