<div class="app">

  <main>
    <div class="random-btn">
      <button mat-fab [disabled]="(restaurants$ | async).length === 0" color="primary" [class.animating]="animating"
        size="large" (click)="randomClick$.next($event)">
        <div class="btn-content">
          <ng-container *ngIf="!(result$ | async)">
            在{{(restaurants$|async).length}}个候选中<br />随机
          </ng-container>
          <ng-container *ngIf="(result$ | async)">
            {{(result$ | async).name}}
          </ng-container>
        </div>
      </button>
    </div>
  </main>
  <div class="hint" *ngIf="(restaurants$ | async).length === 0">
    点这里添加候选↘
  </div>
  <div class="operators">
    <button mat-fab color="primary" (click)="openSheet()">
      <mat-icon>menu</mat-icon>
    </button>
  </div>
</div>
